@import "./base.scss";

.title {
  text-align: center;
  font-size: 5vw;

  h1 {
    margin: 0;
    padding-top: 32px;
  }

  &.create {
    font-size: 3vw;
  }
}

.dragon-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-bottom: 80px;

  &.create {
    grid-template-columns: 1fr;
  }
}

.create-dragon {
  position: fixed;
  right: 8px;
  bottom: 8px;
  text-decoration: none;
  color: $richBlack;
  padding: 8px;
  background-color: $secondary;
  font-size: 32px;
  border-radius: 15px;
}
